@tailwind base;
@tailwind components;
@tailwind utilities;

/* Ensure input text is visible in dark mode */
input, textarea {
    color: black;
    background-color: white;
}

/* Dark mode styles */
.dark input, .dark textarea {
    color: white;
    background-color: #1a202c; /* Tailwind's slate-800 */
    border-color: #4a5568; /* Tailwind's slate-600 */
}
